.rightbar {
  width: 70%;
  max-width: 894px;
  margin-bottom: 30px;
  margin-left: 20px;
}
h2 {
  margin: 10px 0;
}
.link {
  text-decoration: none;
  color: #6e7781;
  font-size: 20px;
}
.link:hover {
  color: red;
}
@media (max-width: 500px) {
  .rightbar {
    width: 95%;
    padding: 10px;
  }
  h2 {
    font-size: 15px;
  }
}
