.navbar {
  width: 100%;
  min-height: 64px;
  background-color: #24292f;
  color: white;
  display: flex;
  align-items: center;
}

.container {
  margin: auto;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block1 {
  height: 100%;
  display: flex;
  align-items: center;
}

.i {
  font-size: 32px;
  color: white;
}
i {
  size: 3x;
}

@media (max-width: 870px) {
  .info {
    display: none;
  }
}
h5 {
  margin-left: 15px;
  font-size: 16px;
}
h5:hover {
  color: #aab6c1;
}
@media (max-width: 1000px) {
  .block2 {
    display: none;
  }
}
