.navbar {
  width: 100%;
  min-height: 64px;
  background-color: #24292f;
  color: white;
  display: flex;
  align-items: center;
}

.container {
  margin: auto;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block1 {
  height: 100%;
  display: flex;
  align-items: center;
}
.block2 {
  height: 100%;
  display: flex;
  align-items: center;
}
.add {
  display: flex;
  align-items: center;
  justify-content: center;
}
.extra {
  margin-left: 25px;
}
.i {
  font-size: 32px;
}
i {
  size: 3x;
}
.info {
  display: flex;
  margin-left: 5px;
  justify-content: center;
  width: 400px;
  padding: 4px;
}
@media (max-width: 960px) {
  .info {
    display: none;
  }
}
h4 {
  margin-left: 15px;
}
h4:hover {
  color: #aab6c1;
}
