.input-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  background-color: transparent;
  height: 28px;
  width: 250px;
  border: 0.5px solid #57606a;
  border-radius: 5px;
  outline: none;
  margin-left: 10px;
  color: #57606a;
  font-size: 17px;
  padding-left: 20px;
  transition: 0.2s linear;
}
input:focus {
  width: 500px;
  background-color: #f6f8fa;
  transition: 0.2s linear;
}
.input-btn {
  width: 40px;
  margin-left: 5px;
  min-height: 28px;
}
